<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button href="/tabs/tab-profile" tab="tab-profile">
      <ion-icon aria-hidden="true" name="triangle"></ion-icon>
      <ion-label>Tab 1</ion-label>
    </ion-tab-button>

    <ion-tab-button href="/tabs/tab-my-cards" tab="tab-my-cards">
      <ion-icon aria-hidden="true" name="ellipse"></ion-icon>
      <ion-label>Tab 2</ion-label>
    </ion-tab-button>

    <ion-tab-button href="/tabs/tab-destinations" tab="tab-destinations">
      <ion-icon aria-hidden="true" name="square"></ion-icon>
      <ion-label>Tab 3</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
